<!DOCTYPE html>
<html lang="ru"> 
<head>
    <title>MovieNight</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="home_page.css">
    
</head>


<body>
    <header >
        <a href="home_page.html"><img src="https://ic.wampi.ru/2023/05/12/image_2023-05-12_21-13-33.png" width="200px" height="50px"></a>
        <a href="login_page.html" style="text-decoration: none;"><h3  class="loginp">Войти</h3></a>
    </header>
    <span>
        <h1 align = "center" style="color: white; font-size: 40px;">Фильмы и сериалы без ограничений</h1>
        <p align = "center" style="color: gray; font-size: 20px;">Ответ на вопрос «Что посмотреть?» на ближайшие несколько вечеров.</p>
        <p align = "center" style="color: gray; font-size: 20px;">В вашем распоряжении — тысячи фильмов и сериалов:<br>
            от новых и нашумевших до легендарных.
        </p>
        <!-- {% block content %}
            {% if user.is_authenticated%}            
                <a href="movie_page.html" style="text-decoration: none;"><button type="submit" class="login">Начать смотреть</button></a>
            {% else %}
                <a href="login_page.html" style="text-decoration: none;"><button type="submit" class="login">Начать смотреть</button></a>
            {% endif %}
        {% endblock %} -->
        <a href="login_page.html" style="text-decoration: none;"><button type="submit" class="login">Начать смотреть</button></a>


    </span>
    <span class="row1">
        <span class="col1">
            <img id="img" src="https://avatars.mds.yandex.net/get-ott/1648503/2a00000182d467297065a3a6fb6838dd411f/340x510" width="280px" height="420px">
            <img id="img" class="img2" src="https://avatars.mds.yandex.net/get-ott/1534341/2a00000184524e74dac7e8c3ae2bd76c8ab6/340x510" width="280px" height="420px">
        </span>
        <span class="col1">
            <img id="img" class="img1" src="https://avatars.mds.yandex.net/get-ott/239697/2a0000018383a5aadfc832ad49dc07e02268/340x510" width="280px" height="420px">
            <img id="img" src="https://avatars.mds.yandex.net/get-ott/2439731/2a000001864b10a9bf81091462c2ee543655/340x510" width="280px" height="420px">
        </span>
        <span class="col1">
            <img id="img" src="https://avatars.mds.yandex.net/get-ott/1672343/2a0000018564b5b89c43fe34314c728d4a2d/340x510" width="280px" height="420px">
            <img id="img" class="img2" src="https://avatars.mds.yandex.net/get-ott/200035/2a00000183a3525b2cc9d144989b64d3fee1/340x510" width="280px" height="420px">
        </span>
        <span class="col1">
            <img id="img" class="img1" src="https://avatars.mds.yandex.net/get-ott/1534341/2a00000184ecd1438619592565b78c9d319e/340x510" width="280px" height="420px">
            <img id="img" src="https://avatars.mds.yandex.net/get-ott/2419418/2a00000185ab682c41de8fbcf7ef7a51a375/340x510" width="280px" height="420px">
        </span>
        <span class="col1">
            <img id="img" src="https://avatars.mds.yandex.net/get-ott/224348/2a000001869cd93feb7d681a61a3cd26a14d/340x510" width="280px" height="420px">
            <img id="img" class="img2" src="https://avatars.mds.yandex.net/get-ott/224348/2a0000018388506b1bc204c77272af24af25/340x510" width="280px" height="420px">
        </span>
    </span>

    <span>
        <h1 align = "center" style="color: white; font-size: 40px;">Смотрите кино дома и в дороге</h1>
        <p align = "center" style="color: gray; font-size: 22px;">А также в парке, на веранде кафе, в метро, в гостях у любимой<br> бабули — онлайн или без интернета.</p>
    </span>

    <span >
        <h1 style="color: white; font-size: 30px; margin-left: 110px; margin-top: 80px;" >На телевизоре</h1>
        <span class="tel">
            <span>
                <img class="timg" src="https://im.wampi.ru/2023/05/12/image_2023-05-13_00-47-44.png" width="400px" height="300px">
            </span>
            <span class="tel1">
                <img class="timg" src="https://ic.wampi.ru/2023/05/12/image_2023-05-13_00-51-02.png" width="400px" height="146px">
                <img class="timg" src="https://im.wampi.ru/2023/05/12/image_2023-05-13_00-51-2.png" width="400px" height="146px">            
            </span>
            <span class="tel1"> 
                <img class="timg" src="https://ie.wampi.ru/2023/05/12/image_2023-05-1-02.png" width="400px" height="146px">
                <span class="tel2">
                    <img class="timg" src="https://ie.wampi.ru/2023/05/12/image_20230-51-02.png" width="196px" height="146px">
                    <img class="timg" src="https://ic.wampi.ru/2023/05/12/image_-51-02.png" width="196px" height="146px">
                </span>
                
            </span>
        </span>
    </span>
    <hr>
    <footer>
        <p align = "center" style="color: gray; font-size: 15px;">
            Все материалы носят исключительно информационный характер и не являются публичной офертой, согласно ч. 2 ст. 447 ГК РК
        </p>
        <img class="fimg" src="https://im.wampi.ru/2023/05/12/image_2023-05-12_20-23-04e1abe4905225b039.png" width="250px" height="100px">
        <p align = "center" style="color: gray; font-size: 15px;">
            ООО «MovieNight», адрес местонахождения: 115035, Казахстан, г. Алматы, ул. Шаляпина, д. 82, стр. 2, пом. 9А01
            Адрес для обращений пользователей: MovieNight@support.yandex.ru<br><br>
            © 2016–2023 MovieNight. 18+
        </p>
    </footer>
    

</body>
</html>
